body {
font-family: 'georgia';
width: 500px;
margin-top: 20px
margin-left: 0px 0px 0px 350px;
} 


div {  
background-color: rgb(128, 128, 128);
padding: 10px;
border: 50px solid #bbbbbb

}


h1,h2 {
font-family: 'helvetica';
margin-bottom: 30px
}
