body { 
background-color: lightblue;
font-family: "arial";
font-size: 20px;
line-height: 60px;
padding: 70px;
}


.wrapper{
background-color: white;
margin: 20px auto;
padding:40px;

}

code { 
font-family: futura;
color: green;
}


nav ul{
list-style-type: none;
padding: 0px

}

nav li{ 
display: inline-block;
margin-bottom: 35px;
}

nav a{ 
padding: 20px;
margin-right: 20px;
}

a{ color: purple;
   background-color: white;

}

a:hover {
   color:black;
   font-size: 45px;
   font-family: futura;
}

li { 
Margin: 20px;
}



header{ 
background-color: grey;
padding: 20px;
font-size: 30px;

}